.App{
  background: #F9F9F9;
}

/* // sidebar  */

.left-nav{
  width: 250px;
  height: 1389px;
  background: white;
}
.logo_css{
  width: 37px;
  height: 37px;
  margin-top: 27px;
  margin-left: 23px;
}
.head_css{
color: #2D3E51;
font-size: 21.411px;
font-style: normal;
font-weight: 600;
margin-top: 40.3px;
line-height: normal;
margin-left: -4px;
}
.sidebar_para{
  color: #989898;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 23px;
    margin-top: 20.47px;
}

.side_bar_img{
  width: 18.675px;
  height: 18.675px;
  flex-shrink: 0;
  margin-top: 15px;
}
.side_bar_para{
  color: #000;
  font-size: 14.006px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 11.2px;
}
.bottom-user{
  width: 250px;
    height: 64px;
    background: #EAE3E3;
    margin-top: 683px;
  
}
.user-avatar{
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin-top: 17px;
  margin-left: 32px;

}
.user-name{
  color: #000;
    font-size: 12.01px;
    /* font-family: Inter; */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 80px;
    margin-top: -26px;
}

/* //////////////////////////////// */

.filter_btn{
  display: flex;
    width: 144px;
    height: 46px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.filter_icon{
  width: 18px;
    height: 18px;
    flex-shrink: 0;

}
.card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
}

.text-right {
  text-align: right;
  color: #b3b3b3;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.card_btm {
  margin-bottom: 21px;
  margin-right: 25px;
}
.icon_div {
  margin-right: 7px;
}
.cardbtm_inn {
  color: var(--grey-04, #9a9a9a);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.heading_card {
  margin-top: 13px;
  color: black;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.msg_card {
  margin-left: 9px;
  color: var(--grey-04, #9a9a9a);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.label {
  font-weight: bold;
}

.msg-icon {
  float: left;
}

.msg-title {
  margin-left: 30px;
  font-weight: bold;
}

.msg-content {
  clear: both;
  margin-top: 10px;
}
.msgcard_para {
  display: flex;
  width: 824px;
  height: 42px;
  flex-direction: column;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 29px;
}

.card_main {
  margin-top: 30px;
  margin-left: 34px;
  width: 881px;
  height: 242px;
  border-radius: 5px !important;
  border: 1px solid #d9d9d9 !important;
  background: #fff !important;
}

/* //topnav */
.downarrow_nav{
  color: black;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.top-nav {
  background-color:#F9F9F9;;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 1177px;
  height: 43px;
  margin-top: -85rem;
  margin-left: 18rem;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  width: 620px;
    height: 43px;
}

.search-icon {
  margin-right: 5px;
  color: #333;
}

input[type="text"] {
  border: none;
  background-color: transparent;
  color: #333;
  outline: none;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-icon {
  height: 30px;
    width: 30px;
    border-radius: 3px;
}


.topbar_icon{
  display: flex;
    width: 24px;
    height: 24px;
    padding: 9.4px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: rgba(234, 234, 234, 1);
    border-radius: 100%;
    margin-right: 20px;
}
.set_icn{
  width: 39px !important;
  height: 39px !important;
  padding: 1.4px;
}
.topbar_para{
  color: #000;
    font-size: 12.01px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 111px;
    height: 15px;
    margin-left: 12px;
}

/* // booking */

.nav_greatersign{
  height: 12px;
  margin-left: 5px;
    flex-shrink: 0;
    color: rgba(163, 163, 163, 1);
}


.booking_main{
  margin-left: 34px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 236px;
    height: 157px;
    border-radius: 14px;
    box-shadow: 0px 14px 11px 0px rgba(0, 0, 0, 0.08);
}

.booking_title{
  color: #000;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 18px;
}
.booking_amount_para{
  color: #000;
    text-align: center;
    font-size: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 16px;
}

.booking_btn{
  display: flex;
    width: 149px;
    height: 24px;
    padding: 5.042px;
    justify-content: center;
    align-items: center;
    border-radius: 25.21px;
    border: 0.504px solid #000;
    background: #000;
    color: #FFF;
    text-align: center;
    font-size: 8.563px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 52px;
    margin-top: -12px;
    margin-bottom: 23px;
}


.card-pink {
  background: #FBCAC3;
}

.card-cream {
  background: #FDD7AA;
}

.card-gray {
  background: #CBD7BB;

}

.card-purple{
  background: #CBBCFB;
}

/* //appnav */

.app_nav{
  margin-top: 57px;
  margin-left: 34px;
}
.nav_link{
  color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 106px;
    text-decoration: none;

    padding: 8px;
    text-decoration: none;
}
.booking_dash{
    color: #A3A3A3;
    font-size: 14.006px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.booking_book{
  color: #000;
    font-size: 14.006px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.booking_hr{
  width: 1205px;
  margin-left: 38px;
  margin-top: 18px;
}


  .activeLink {
    border-bottom: 3px solid rgba(0, 0, 0, 1);
    padding-bottom: 17px;
    width: 50px;
}
  

.top-items li.active{
  display: flex;
  padding-left: 12px;
  background-color: black;
  margin-left: -9px;
  /* padding-right: 43px; */
  margin-right: 20px;
  border-radius: 5px;
}
.side_bar_img.active-img {
  background-color: yellow;
  border-radius: 100%;
}

.side_bar_para.active-text{
  color: white;
}